/* Estilos para el encabezado */
.masthead {
  /* Agrega tus estilos aquí si es necesario */
}

#mainNav {
  background-color: #343a40; /* Color de fondo para la navbar */
  padding: 0.5rem 1rem; /* Espaciado de la navbar */
}

.navbar-brand img {
  max-height: 40px; /* Altura máxima para el logo */
}

.navbar-toggler {
  border: none; /* Quitar borde del botón de menú */
}

.navbar-toggler .fas {
  font-size: 1.25rem; /* Tamaño del ícono del menú */
}

.navbar-nav {
  margin: 0; /* Quitar márgenes por defecto */
}

.nav-item {
  margin: 0 0.5rem; /* Espaciado entre los elementos de la navbar */
}

.nav-link {
  color: white; /* Color del texto del enlace */
  font-size: 1rem; /* Tamaño de fuente */
  text-transform: uppercase; /* Texto en mayúsculas */
  padding: 0.5rem 1rem; /* Espaciado interno del enlace */
}

.nav-link:hover {
  color: #f8f9fa; /* Color del texto al pasar el ratón */
}

.bi {
  vertical-align: middle; /* Alineación vertical de los íconos SVG */
}
